<!doctype>
<!-- =============================================================================================================== -->
<!-- Live CSS, Demo Project                                                                                          -->
<!-- ... developed by: ofzza                                                                                         -->
<!-- =============================================================================================================== -->

<html>

<head>
    <title>LiveCSS Demo</title>

    <script type="text/javascript" src="https://code.angularjs.org/1.4.0-beta.6/angular.js"></script>
    <script type="text/javascript" src="./livecss.js"></script>
    <script type="text/javascript" src="./index.js"></script>
    <style> * { font-family: monospace; } </style>
</head>

<body>

    <!-- Load (dynamically) LiveCSS syntax file -->
    <fieldset>
        <legend>Loading (dynamically) LiveCSS resource file</legend>

        <label>index.lcss loaded</label>
        <input type="checkbox" ng-init=" LCSS.loaded=true " ng-model=" LCSS.loaded " />
        <lcss ng-if=" LCSS.loaded " src=" './index.lcss' "></lcss>
    </fieldset>

    <!-- Basic binding example -->
    <fieldset>
        <legend>Basic binding</legend>

        <label>Select a color to be applied to all LEGEND elements:</label>
        <input type="color" ng-init=" LCSS.color = '#aaaaaa' " ng-model=" LCSS.color " />

    </fieldset>

    <!-- Using Angular directives inside LiveCSS syntax -->
    <fieldset>
        <legend>Using Angular directives in LiveCSS syntax</legend>

        <label>Select number of elements:</label>
        <input type="range" min="1" max="32" ng-init=" LCSS.count = 8 " ng-model=" LCSS.count " />
        <span>
            <span class="repeated-element" ng-repeat=" el in LCSS.generateArrayOfLength( LCSS.count ) "> {{ $index }} </span>
        </span>

    </fieldset>

    <!-- Using 'Window' extension for responsive layout -->
    <fieldset>
        <legend>'Window' extension and responsive layout</legend>

        <div class="responsive-container">

            <label>Total width: </label>
            <input type="range" min="50" max="100" ng-init=" LCSS.layoutWidth = 75   " ng-model=" LCSS.layoutWidth " /> {{ LCSS.layoutWidth }}%
            <br/>
            <label>Left panel width: </label>
            <input type="range" min="20" max="40" ng-init=" LCSS.layoutLeftWidth = 35 " ng-model=" LCSS.layoutLeftWidth " /> {{ LCSS.layoutLeftWidth }}%
            <br/>
            <label>Right panel width: </label>
            <input type="range" min="20" max="40" ng-init=" LCSS.layoutRightWidth = 35 " ng-model=" LCSS.layoutRightWidth " /> {{ LCSS.layoutRightWidth }}%
            <hr/>

            <div class="left-panel"> {{ LCSS.layoutLeftWidth }}% </div>
            <div class="center-panel"> ADJUSTABLE WIDTH PANEL </div>
            <div class="right-panel"> {{ LCSS.layoutRightWidth }}% </div>

        </div>


    </fieldset>

    <!-- Using 'Mouse' extension -->
    <fieldset>
        <legend>'Mouse' extension</legend>

        <label>Track mouse:</label>
        <input type="checkbox" ng-init=" LCSS.track = false " ng-model=" LCSS.track " />

        <div class="trackerA"></div>
        <div class="trackerB"></div>
    </fieldset>

</body>

</html>